extends base.pug

block scripts 
    script(src='../static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/styleClassinfo.css
        include ../static/phone.css


block content
    section#info 
        h1 Will be updated soon!!

    