
#container{
    background-color: lightblue;
    height: 85vh;
    padding: 20px;
    overflow: auto;
}
#container h1{
    font-size: 30px;
    color: rebeccapurple;
    padding: 20px;
}
#container h2{
    color: rgb(216, 55, 55);
    padding: 20px;
}
#container p{
   font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#aboutDirect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}




